:root {
    --primary: #fc5185;
    --secondary: #364f6b;
    --yellow: #ffd42c;
    --yellowdarktwo: #7e6500;
    --yellowdark: #d4b01d;
    --yellowtwo: #ffff60;
    --brown: #281900;
    --gray: #7a7672;
    --ice: #e2e2e2;
    --pretofosco: #161616;
    --dark: #2c2c2c;
}